html {
  font-size: 16px;
  line-height: 1.4;
}

body {
  font-family: "Open Sans", serif;
  color: #686868;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Halant", Times, serif;
  color: #202020;
}

h1 {
  font-weight: 400;
}

h2, h3, h4, h5 {
  font-weight: 800;
}


/*Header and nav bar*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: #caebf2;
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: .016rem solid #686868;
}

.branding {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2rem;
  margin-left: 1.5rem;
  font-size: 1.5rem;
}

.branding img {
  height: 3rem;
}

h2 span {
  font-weight: 400;
  color: #686868;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.5rem;
}

nav a {
  font-family: "Dosis", Helvetica, sans-serif;
  color: #202020;
  text-decoration: none;
  padding: 1rem;
}

a:active {
  transform: translateY(4px);
}

nav a:hover {
  color: #ff3b3f;
}

.nav_mobile {
  display: none;
}

/*header -media queries for smaller screen sizes*/

@media only screen and (max-width: 750px) {
  .branding {
    display: none;
  }

  .nav_dt {
    display: none;
  }

  .nav_mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}


/*banner section*/

.banner {
  background-color: #efefef;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 4rem;
}

.banner-image {
  width: 60%;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.banner-image img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.banner-text {
  width: 40%;
  text-align: center;
}

.banner-text h1 {
  font-size: 4rem;
  font-family: "Zeyada", Times, serif;
  padding: 1.5rem;
  word-spacing: .25rem;
}

.banner-text h2 {
  font-size: 1.25rem;
  padding: 1.5rem;
  line-height: 1.5;
  word-spacing: .5rem;
  color: #686868;
}

.button a {
  background-color: #ff3b3f;
  margin: 2rem 1.5rem 1.5rem 1.5rem;
  display: block;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 2px;
  padding: 0.75rem;
  max-width: 100%;
  text-align: center;
}

/* Banner section - media queries for smaller screen sizes*/

@media only screen and (max-width: 1100px) {
  .banner-text h1 {
    font-size: 3rem;
  }
}


@media only screen and (max-width: 875px) {
  .banner-text h1 {
    font-size: 2.5rem;
    padding: 1.25rem;
  }

  .banner-text h2 {
    font-size: 1rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 750px) {
  .banner {
    flex-direction: column;
  }

  .banner-image {
    width: 100%;
    padding: 0 1rem 0 1rem;
  }

  .banner-text {
    width: 100%;
    margin-top: 2rem;
    padding: 0 1rem 0 1rem;
    margin-bottom: 2rem;
  }

  .banner-text h1 {
    font-size: 4rem;
    padding: 1.25rem;
  }

  .banner-text h2 {
    font-size: 1.25rem;
    padding: 1rem;
    margin: 2rem 0 1.5rem 0;
  }
}

@media only screen and (max-width: 550px) {
  .banner-text h1 {
    font-size: 3.25rem;
  }
}


/*Information section*/

.info {
  display: flex;
  background-color: #fafafa;
}

.article {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem 1rem 1.5rem;
}

.image img {
  max-width: 100%;
  padding-bottom: 2rem;
}

.mobile_img {
  display: none;
}

.text h2 {
  font-size: 2rem;
  padding: 0 0 0.5rem 0;
}

.text p {
  font-size: 1rem;
  line-height: 1.6;
  font-style: italic;
  padding-bottom: 2rem;
}

.text h5 {
  font-size: .75rem;
}

p span {
  font-size: 1rem;
}


/*Link to more info section*/

.info-links {
  display: flex;
  width: 40%;
  height: auto;
}

.column {
  display: flex;
  justify-content: space-between;;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin: 2rem 1.5rem 1rem 0;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  border: 0.016rem solid #efefef;
  box-shadow: 5px 5px 5px #E0E0E0;
}

.links img {
  width: 35%;
  height: auto;
}

.links .text {
  margin-left: 1rem;
}

.links h3 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.links p {
  padding-bottom: 0.5rem;
  font-style: normal;
}


.links a {
  background-color: #ff3b3f;
  text-decoration: none;
  color: white;
  font-size: .75rem;
  display: block;
  padding: .25rem .5rem;
  width: 6rem;
  border-radius: 2px;
}

.highlighted {
  background-color: #efefef;
}

/* Information section - media queries for smaller screen sizes*/

@media only screen and (max-width: 1240px){
  .links h3 {
    font-size: 1.25rem;
  }

  .links p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 975px){
  .links h3 {
    font-size: 1.05rem;
  }

  .links p {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 750px) {
  .article {
    display: none;
  }

  .info-links {
    width: 100%;
    margin-bottom: 2rem;
  }

  .column {
    justify-content: center;
    margin: 0;
  }

  .links {
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    box-shadow: none;
  }

  .links img {
    padding-left: 1rem;
  }

  .links .text {
    padding-right: 1rem;
  }

  .links h3 {
    font-size: 2rem;
  }

  .links p {
    font-size: 1.25rem;
  }

  .links a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 525px){
  .dt_img {
    display: none;
  }

  .mobile_img {
    display: flex;
  }

  .info-links {
    margin-top: 1rem;
  }

  .links {
    flex-direction: column;
    border: none;
    padding-bottom: 2rem;
  }

  .links .mobile_img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .text {
    margin-left: 0;
    width: 80%;
  }

  .links h3 {
    font-size: 1.75rem;
  }

  .links p {
    font-size: 1rem;
    margin-bottom: .8rem;
  }
}


/*Learning section*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0 2rem 0;
  background-color: #efefef;
}

.container h2 {
  font-size: 2rem;
}

.start-learning {
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 1rem 3.5rem 1rem 3.5rem;
}

.learning_mobile {
  display: none;
}

.learning_menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: 1rem;
}

.learning_menu img {
  max-width: 100%;
  height: auto;
}

.info2 {
  background-color: white;
  padding: 1rem 1rem 1.5rem 1rem;
}

.info2 h3 {
  font-size: 1.5rem;
}

.info2 h4 {
  margin: 8px 0;
  font-weight: 400;
  font-size: 1.25rem;
}

.info2 p {
  line-height: 1.5;
  height: 4.5rem;
}

/* Learning section - media queries for smaller screen sizes*/

@media only screen and (max-width: 1240px) {
  .start-learning {
    margin-top: 2rem;
  }

 .learning_menu {
    margin: 0.5rem;
  }

  .info2 h3 {
    font-size: 1.05rem;
  }

  .info2 h4 {
    margin: 8px 0;
    font-weight: 400;
    font-size: 1rem;
  }

  .info2 p {
    line-height: 1.5;
    height: 4.5rem;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 975px) {
  .info2 p {
    line-height: 1.7;
    font-size: 0.8rem;
    height: 3.75rem;
  }
}

@media only screen and (max-width: 875px) {
  .learning_menu {
    display: none;
    }

  .start-learning {
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem 1rem 2rem 1rem;
    }

  .learning_mobile, .learning_mobile ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .learning_mobile li {
    width: 25%;
    background-color: #caebf2;
    border: 0.016rem solid #BEBEBE;
    margin: 0.25rem;
    padding: 1rem;
  }

  li a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #202020;
    margin: 1rem 0 2rem 0;
  }

  li a:hover {
    color: #ff3b3f;
  }
}

@media only screen and (max-width: 750px) {
  .start-learning {
    margin: 1rem 0 0 0;
  }

  .learning_mobile li {
    width: 40%;
    background-color: #caebf2;
    border: 0.016rem solid #BEBEBE;
    margin: 0.25rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .learning_mobile li {
    width: 85%;
  }
}


/*Thesis Exhibit section*/

.thesis {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0 2rem 0;
}

.thesis h2 {
  font-size: 2rem;
}

video {
  max-width: 100%;
  height: auto;
  padding-bottom: 1.5rem;
}

.thesis h2 {
  padding-bottom: 0.5rem;
}

.thesis .column {
  justify-content: flex-start;
}

.thesis .links {
  margin-bottom: 1.5rem;
}

/*thesis section - media queries for smaller screens*/

@media only screen and (max-width: 750px) {
  .article {
    padding: 1rem 0 0 0;
  }

  .article_mobile {
    display: flex;
    width: 100%;
    margin: 0;
  }

  .links_mobile {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .article_mobile .text {
    display: none;
  }

  .thesis {
    padding-bottom: 1.5rem;
  }
}

/*footer*/

footer {
  display: flex;
  justify-content: space-between;
  background-color: #caebf2;
  font-size: 0.75rem;
  border-top: 0.016rem solid #202020;
}

footer p {
  padding: 1rem 0 4.5rem 1.5rem;
  color: #ff3b3f;
}

footer nav {
  align-items: flex-start;
  padding: 0 1.5rem 0 0;
}

footer a {
  padding-left: 0.75rem;
  color: #ff3b3f;
  text-decoration: none;
}

@media only screen and (max-width: 550px){
  .dt_footer {
    display: none;
  }

  footer p {
    padding-bottom: 1rem;
  }
}
